body {
	margin: 0;
	background-color: #DDD;
}
ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: relative;
	width:100%
}

li {
float: left;
}

li a {
display: block;
padding: 10px;
color: white;
text-align: center;
font-family: 'Helvetica', 'Arial', sans-serif;
text-decoration: none;
}

li a:hover{
	background-color: #1AF;
	color: black;
}

li a.active{
	background-color: #111;
	color: white;
}

a:link.main {
	text-decoration: none;
	color: #333;
}


@media screen and (max-width: 1080px){
	li {float: none;}
	.gmap{
		position: relative !important;
		width: 90% !important;
		height: 80% !important;
		margin: auto !important;
	}
	#explain{
		padding-top: 50px;
		padding-left: 5%;
		position: absolute !important;
		width: 90% !important;
		height: 80% !important;
		float: right !important;
		margin: auto !important;


	}
	.twit{
		display: none !important;
		position: absolute !important;
		width: 90% !important;
		height: 80% !important;
		margin: auto !important;
	}
		#weather {
		        width: 100% !important;
				position: absolute;
				clear: both;
				margin: auto;
				top: 100px;
				bottom: 0;
				right: 0;
				left: 0;
		       }

}

p, h4, h3, label {
	font-family: 'Helvetica', 'Arial', sans-serif;
}

label {
	display: block;
	float: left;
	width: 400px;
	}


table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

#map {
        height: 90%;
        width: 50%;
		position: absolute;
		clear: both;
		margin-left: 27%;
		top: 40px;
		bottom: 0;
		right: 0;
		left: 0;
       }

#weather {
		height: 600px;
        width: 70%;
		position: absolute;
		clear: both;
		margin: auto;
		top: 100px;
		bottom: 0;
		right: 0;
		left: 0;
       }
#btownlight {
	display: block;
	position: absolute;
	margin-left: auto;
    margin-right: auto;
	top: 600px;

   }

#explain{
	float:right;
	padding-right:20px;
	width:20%;
}

/*#tweeter {
	position: relative;
	clear: both;
	margin: auto;
	top: 500px;
	bottom: 0;
	right: 0;
	left: 0;
	align-items: center;
}
*/

.greeting {
	padding-top: 150px;
	text-align: center;
	}

.form {
        width: 300px;
		padding-top:150px;
		position: absolute;
		clear: both;
		margin: auto;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
}


.form input[type="text"],input[type="number"],input[type="select"],input[type="checkbox"], input[type="password"] {
	width: 100%;
	clear: both;
	}


.form input[type="radio"] {
float: right;
clear: none;
margin-right: 200px;
}

.error {
	color: red;
}

.table {
	width: 900px;
	font-family: 'Helvetica', 'Arial', sans-serif;
	position: relative;
	clear: both;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
