body {
	margin: 0;
	background-color: #CCC
}
ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: relative;
	width:100%
}

li {
float: left;
}

li a {
display: block;
padding: 10px;
color: white;
text-align: center;
font-family: 'Helvetica', 'Arial', sans-serif;
text-decoration: none;
}

li a:hover{
	background-color: #1AF;
	color: black;
}

li a.active{
	background-color: #111;
	color: white;
}

a:link.main {
	text-decoration: none;
	color: #333;
}


@media screen and (max-width: 600px){
	li {float: none;}
}

p, h4, h3 {
	font-family: 'Helvetica', 'Arial', sans-serif;
}

#map {
        height: 75%;
        width: 40%;
		position: absolute;
		clear: both;
		margin: auto;
		top: 48px;
		bottom: 0;
		right: 0;
		left: 0;
       }

#weather {
		height: 600px;
        width: 600px;
		position: absolute;
		clear: both;
		margin: auto;
		top: 50px;
		bottom: 0;
		right: 0;
		left: 0;
       }

.greeting {
	padding-top: 150px;
	text-align: center;
	}

.form {
        width: 300px;
		padding-top:150px;
		position: absolute;
		clear: both;
		margin: auto;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
}

.form input {
	width: 100%;
	clear: both;
	}

.error {
	color: red;
}

.table {
	width: 900px;
	font-family: 'Helvetica', 'Arial', sans-serif;
	position: relative;
	clear: both;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
